*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
*.dcf
*.pyc

D605/data/fred_api.txt
D608/data/api_keys.json

*_keys.json
*.ipynb_checkpoints
*.joblib
*.pth
*.pt
*.tmp
*.jpg

__pycache__/
data/
models/
logs/

D622/~$1_report.docx